*{
	margin: 0;
	padding: 0;
}
a{
    outline: none;
    text-decoration: none;
}
.bgvideo{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -1000;
	background: url(../img/bg.jpg);
	background-size: cover;
	background-color: black;
	opacity: 0.8;
}
body{
	min-height: 100%;
	width: 100%;
	margin: 0px;
	background: linear-gradient(40deg, #8facff 20%, #d7dbe4 100%);
}
html{
	min-height: 100%;
}
@font-face{
	font-family: betrue;
	src: url('../fonts/BeTrueToYourSchool-Regular.ttf');
}
@font-face{
	font-family: supreme;
	src: url('../fonts/supreme.ttf');
}
@keyframes appear{
    from{
        transform: scale(0.4);
    }
    to{
        transform: scale(1);
    }
}
.site{
	width: 100%;
	min-height: 80vh;
}
.dt{
	padding-top: 4vh;
	font-size: 14vh;
	font-family: betrue;
	color: #222;
	text-shadow: 0 0 2vh rgb(106, 118, 175);
}
.nesq{
	position: fixed;
	z-index: -1;
	bottom: 0;
	left: 0;
    	width: 30%;
    	min-width: 20vh;
}
.ndir{
	position: fixed;
	z-index: -1;
	right: 0;
	top: 0vh;
    	width: 20%;
    	min-width: 18vh;
}
.logo{
	margin-top: 3.5vw;
	width: 16vw;
	min-width: 24vh;
	border-radius: 50%;
}
.play{
	width: 30vh;
	border-radius: 12vh;
	border: none;
	background-color: rgb(39, 209, 39);
	background-image: url(../img/play.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	transition: 0.2s;
	cursor: pointer;
	box-shadow: 0 0 2vh rgb(106, 118, 175);
	height: 10vh;
}
.play-hold{
	width: 100%;
	margin-top: 10vh;
}
.log{
	font-size: 3.5vh;
	color: #000;
	font-family: betrue;
	text-align: center;
	text-shadow: 0 0 2vh rgb(106, 118, 175);
	cursor: pointer;
}
.log-hold{
	width: 50%;
	padding-left: 25%;
	padding-right: 25%;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar {
    width: 1vh;
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background:rgb(28, 115, 230);
}
.holder-dado{
    padding: 2vh;
    width: 20vw;
    min-width: 24vh;
}
.dado{
    width: 100%;
    font-size: 4vh;
    border-radius: 1vh;
    padding: 1vh 0vh 0.5vh 0vh;
    color: white;
    background: rgb(0, 63, 179);
}